h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    background: linear-gradient(to right, #f92a82, #ed7b84, #FAB0DA, #022B3A, #1F7A8C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    border: 15px solid;
}

.background {
  background-color:#F5DBCB;
  background: linear-gradient(to right, #F5DBCB, #f5d1cb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.button_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #F5DBCB;
    font-size: 25px;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
  }
  
  .rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .rainbow_text_animated {
    background: linear-gradient(to right, #f92a82, #ed7b84, #FAB0DA, #022B3A, #1F7A8C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 200% 100%;
  }
  
  @keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
  
    50% {
        background-position: 100% 0;
    }
  }